<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW FUZZY TASK</title>
    <style type="text/css">
        p,input,legend,div{
            text-align: center;
            font-family: 'Microsoft YaHei UI'
        }
        button{
            text-align: center;
            background-color: bisque;
            color: darkgoldenrod;
            <!--font-size: larger;-->
            font-family: 'Microsoft YaHei UI'
        }
        body{
            background:url(../static/robot.png)  no-repeat center bottom;
            background-attachment:fixed;
            background-color: #46cca7;
			}
		.topless {
            position: absolute;
            top: 20%;
        }
        .topmid {
            position: absolute;
            top: 50%;
        }

    </style>
</head>
<body>
{% if message %}
<p style="color:red">{{ message }}</p>
{% endif %}
<p style="color: orange">please input an watcher video url and select search conditions</p>
<form action="/newFuzzyTask" method="post" class="topless">
    <p><input name="videoUrl" placeholder="videoUrl" size="100"></p>
    <p style="color: orange">or</p>
    <p><input name="rtspUrl" placeholder="rtspUrl" size="100"></p>
    <p><input name="age_low" placeholder="ageLow" size="10" style="float:left;"></p>
    <p><input name="age_high" placeholder="ageHigh" size="10" style="float:left;"></p>
    <p><input name="beauty_low" placeholder="beautyLow" size="10" style="float:left;"></p>
    <p><input name="beauty_high" placeholder="beautyHigh" size="10" style="float:left;"></p>
    <br/>
    <div>
        <p>faceshape</p>
        <label>
            all
            <input type="radio" checked="checked" name="faceshape" value="all"/>
        </label>
        <label>
            square
            <input type="radio" name="faceshape" value="square"/>
        </label>
        <label>
            triangle
            <input type="radio" name="faceshape" value="triangle"/>
        </label>
        <label>
            oval
            <input type="radio" name="faceshape" value="oval"/>
        </label>
        <label>
            heart
            <input type="radio" name="faceshape" value="heart"/>
        </label>
        <label>
            round
            <input type="radio" name="faceshape" value="round"/>
        </label>
    </div>
    <br/>
    <div>
        <p>expression</p>
        <label>
            all
            <input type="radio" checked="checked" name="expression" value="all"/>
        </label>
        <label>
            none
            <input type="radio" name="expression" value="none"/>
        </label>
        <label>
            smile
            <input type="radio" name="expression" value="smile"/>
        </label>
        <label>
            laugh
            <input type="radio" name="expression" value="laugh"/>
        </label>

    </div>
    <br/>
    <div>
        <p>gender</p>
        <label>
            all
            <input type="radio" checked="checked" name="gender" value="all" />
        </label>
        <label>
            male
            <input type="radio" name="gender" value="male" />
        </label>
        <label>
            female
            <input type="radio" name="gender" value="female" />
        </label>
    </div>
    <br/>
    <div>
        <p>glasses</p>
        <label>
            all
            <input type="radio" checked="checked" name="glasses" value="all" />
        </label>
        <label>
            none
            <input type="radio" name="glasses" value="none" />
        </label>
        <label>
            common
            <input type="radio" name="glasses" value="common" />
        </label>
        <label>
            sun
            <input type="radio" name="glasses" value="sun" />
        </label>
    </div>
    <br/>
    <div>
        <p>emotion</p>
        <label>
            all
            <input type="radio" checked="checked" name="emotion" value="all" />
        </label>
        <label>
            angry
            <input type="radio" name="emotion" value="angry" />
        </label>
        <label>
            disgust
            <input type="radio" name="emotion" value="disgust" />
        </label>
        <label>
            fear
            <input type="radio" name="emotion" value="fear" />
        </label>
        <label>
            happy
            <input type="radio" name="emotion" value="happy" />
        </label>
        <label>
            sad
            <input type="radio" name="emotion" value="sad" />
        </label>
        <label>
            surprise
            <input type="radio" name="emotion" value="surprise" />
        </label>
        <label>
            neutral
            <input type="radio" name="emotion" value="neutral" />
        </label>
    </div>
    <br/>
    <div>
        <p>race</p>
        <label>
            all
            <input type="radio" checked="checked" name="race" value="all" />
        </label>
        <label>
            yellow
            <input type="radio" name="race" value="yellow" />
        </label>
        <label>
            white
            <input type="radio" name="race" value="white" />
        </label>
        <label>
            black
            <input type="radio" name="race" value="black" />
        </label>
        <label>
            arabs
            <input type="radio" name="race" value="arabs" />
        </label>
    </div>

    <p><input name="description" placeholder="description" size="100"></p>
    <p>
        <button type="submit">create</button>
    </p>
</form>


</body>
</html>