<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW FUZZY TASK</title>
    <link rel="stylesheet" href="/static/bootstrap/4.3.1/bootstrap.min.css">
    <style type="text/css">
        p,input,legend,div{
            text-align: center;
            font-family: 'Microsoft YaHei UI'
        }
        button{
            text-align: center;
            background-color: bisque;
            color: darkgoldenrod;
            <!--font-size: larger;-->
            font-family: 'Microsoft YaHei UI'
        }
        body{
            background:url(/static/robot.png)  no-repeat center bottom;
            background-attachment:fixed;
            background-color: #46cca7;
			}
		.topless {
            position: absolute;
            top: 20%;
        }
        .topmid {
            position: absolute;
            top: 50%;
        }

    </style>
</head>
<body>
{% if message %}
<p style="color:red">{{ message }}</p>
{% endif %}
<p style="color: orange">please input an watcher video url and select search conditions</p>
<div class="container">
    <form action="/newFuzzyTask" method="post" enctype=multipart/form-data class="">

    <div class="form-group">
        <div class="list-group list-group-horizontal justify-content-center">
          <a class="list-group-item active" id="tab-video-form" data-toggle="list" href="#video-form" role="tab" aria-controls="video">video</a>
          <a class="list-group-item" id="tab-rtsp-form" data-toggle="list" href="#rtsp-form" role="tab" aria-controls="rtsp">rtsp</a>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="video-form" role="tabpanel" aria-labelledby="tab-video-form">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="videoUrl">videoUrl</label>
                <div class="col-sm-10">
                    <input id="videoUrl" class="form-control" name="videoUrl" placeholder="videoUrl" size="100">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="rtsp-form" role="tabpanel" aria-labelledby="tab-rtsp-form">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="rtspUrl">rtspUrl</label>
                <div class="col-sm-10">
                    <input id="rtspUrl" class="form-control" name="rtspUrl" placeholder="rtspUrl" size="100">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right" for="age_low">age</label>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-6">
                <input id="age_low" class="form-control" name="age_low" placeholder="age_low" size="100">
            </div>
            <div class="col-sm-6">
                <input id="age_high" class="form-control" name="age_high" placeholder="age_high" size="100">
            </div>
          </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right" for="beauty_low">beauty</label>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-6">
                <input id="beauty_low" class="form-control" name="beauty_low" placeholder="beauty_low" size="100">
            </div>
            <div class="col-sm-6">
                <input id="beauty_high" class="form-control" name="beauty_high" placeholder="beauty_high" size="100">
            </div>
          </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right">faceshape</label>
        <div class="col-sm-10">
            <div class="form-control">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="all" checked="checked" value="all" name="faceshape" class="custom-control-input">
                  <label class="custom-control-label" for="all">all</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="square" name="faceshape" value="square" class="custom-control-input">
                  <label class="custom-control-label" for="square">square</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="triangle" name="faceshape" value="triangle" class="custom-control-input">
                  <label class="custom-control-label" for="triangle">triangle</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="oval" name="faceshape" value="oval" class="custom-control-input">
                  <label class="custom-control-label" for="oval">oval</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="heart" name="faceshape" value="heart" class="custom-control-input">
                  <label class="custom-control-label" for="heart">heart</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="round" name="faceshape" value="round" class="custom-control-input">
                  <label class="custom-control-label" for="round">round</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right">expression</label>
        <div class="col-sm-10">
            <div class="form-control">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="all-expression" checked="checked" value="all" name="expression" class="custom-control-input">
                  <label class="custom-control-label" for="all-expression">all</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="none" name="expression" value="none" class="custom-control-input">
                  <label class="custom-control-label" for="none">none</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="smile" name="expression" value="smile" class="custom-control-input">
                  <label class="custom-control-label" for="smile">smile</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="laugh" name="expression" value="laugh" class="custom-control-input">
                  <label class="custom-control-label" for="laugh">laugh</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right">gender</label>
        <div class="col-sm-10">
            <div class="form-control">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="all-gender" checked="checked" value="all" name="gender" class="custom-control-input">
                  <label class="custom-control-label" for="all-gender">all</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="male" name="gender" value="male" class="custom-control-input">
                  <label class="custom-control-label" for="male">male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="female" name="gender" value="female" class="custom-control-input">
                  <label class="custom-control-label" for="female">female</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right">expression</label>
        <div class="col-sm-10">
            <div class="form-control">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="all-glasses" checked="checked" value="all" name="glasses" class="custom-control-input">
                  <label class="custom-control-label" for="all-glasses">all</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="none_glasses" name="glasses" value="none" class="custom-control-input">
                  <label class="custom-control-label" for="none_glasses">none</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="common" name="glasses" value="common" class="custom-control-input">
                  <label class="custom-control-label" for="common">common</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="sun" name="glasses" value="sun" class="custom-control-input">
                  <label class="custom-control-label" for="sun">sun</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right">emotion</label>
        <div class="col-sm-10">
            <div class="form-control">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="all-emotion" checked="checked" value="all" name="emotion" class="custom-control-input">
                  <label class="custom-control-label" for="all-emotion">all</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="angry" name="emotion" value="angry" class="custom-control-input">
                  <label class="custom-control-label" for="angry">angry</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="disgust" name="emotion" value="disgust" class="custom-control-input">
                  <label class="custom-control-label" for="disgust">disgust</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="fear" name="emotion" value="fear" class="custom-control-input">
                  <label class="custom-control-label" for="fear">fear</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="happy" name="emotion" value="happy" class="custom-control-input">
                  <label class="custom-control-label" for="happy">happy</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="sad" name="emotion" value="sad" class="custom-control-input">
                  <label class="custom-control-label" for="sad">sad</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="surprise" name="emotion" value="surprise" class="custom-control-input">
                  <label class="custom-control-label" for="surprise">surprise</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="neutral" name="emotion" value="neutral" class="custom-control-input">
                  <label class="custom-control-label" for="neutral">neutral</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right">race</label>
        <div class="col-sm-10">
            <div class="form-control">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="all-race" checked="checked" value="all" name="race" class="custom-control-input">
                  <label class="custom-control-label" for="all-race">all</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="yellow" name="race" value="yellow" class="custom-control-input">
                  <label class="custom-control-label" for="yellow">none</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="white" name="race" value="white" class="custom-control-input">
                  <label class="custom-control-label" for="white">white</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="black" name="race" value="black" class="custom-control-input">
                  <label class="custom-control-label" for="black">black</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="arabs" name="race" value="arabs" class="custom-control-input">
                  <label class="custom-control-label" for="arabs">arabs</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right" for="description">description</label>
        <div class="col-sm-10">
            <input id="description" class="form-control" name="description" placeholder="description" size="100">
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">create</button>
    </div>
</form>
</div>

</body>
<script src="/static/js/jquery.js"></script>
<script src="/static/bootstrap/4.3.1/bootstrap.min.js"></script>
</html>